.App {
    text-align: center;
    background-color: beige;
    height: 1280px;
    width: 1024px;
    flex-direction: column;
    display: flex;
}

.display {
    border: solid 1px darkgray;
    background-color: beige;
    display: flex;
    flex-direction: row;
}

.fiter {
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    justify-content:space-between;
}
