.App{
    text-align: center;
    background-color: beige;
    height: 350px;
    width: 550px;
    flex-direction: column;
    display: flex;
}
.display{
    border: solid 1px darkgray;
    background-color: beige;
    display: flex;
    flex-direction: row;
}
